body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    background-color: black;
    padding: 10px;
    display: flex;
    color: white;
}

header img {
    height: 15px;
    margin: 0px 10px;
}

main {
    flex: 1;
}

h1 {
    display: flex;
    justify-content: center;
}

.arriba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
.izq {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid black;
    height: 190px;
    width: 190px;
}

.der {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid black;
    height: 130px;
    width: 190px;
}

footer {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    color: black;
    justify-content: center;

}

.beneficios img {
    height: 15px;
    margin: 10px;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}
/* @media (max-width: 600px) {
    .beneficios {
        flex-direction: column;
        align-items: center;
    }
} */

.beneficios section {
    display: flex;
    align-items: center;
}

.beneficios div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 30px;
    padding: 10px;
}

.testimonios img {
    height: 100px;
}

.testimonios {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.testimonios div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.incentivo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-bottom: 1px solid black;
}